<div class="edit-modal" >
  <div mat-dialog-content>
    <p class="heading"></p>
    <div class="container-outer padding0">
      <div class="container">
        <div class="cs-table">
          <div class="sticky-head">
            <div class="table-head">
              <table>
                <tr>
                  <th class="text-center">Name</th>

                </tr>
              </table>
            </div>
            <div class="table-head bdrt">
              <table>

              </table>
          </div>
          </div>

          <div class="table-container">
            <div class="table-content ">
              <table>
                <tr *ngFor="let row of jointname ">
                  <td class="text-center">{{row.name}}</td>


                </tr>


              </table>
            </div>
          </div>
        </div>




      </div>
    </div>
    <!-- <table>
      <tr>
        <th>Name</th>
      </tr>
    </table> -->

      <!-- <div class="table-container">
        <div class="table-content">
          <table>
      <tr *ngFor="let list of jointname">
      <td>{{list.name}}</td>
    </tr>
  </table>
  </div>
</div> -->


  </div>
  </div>
